<style>
  table, th, td {
    border:1px solid black;
  }
</style>
<body>

<table style="width:100%">
  <tr>
    <td rowspan="4">Mata Pelajaran</td>
    <td>Kelompok</td>
    <td>Mata Pelajaran</td>
  </tr>
  <tr>
    <td>Bahasa</td>
    <td><ol>
      <li>Bahasa Indonesia</li>
      <li>Bahasa Inggris</li>
      <li>Bahasa Jawa</li>
    </ol></td>
  </tr>
  <tr>
    <td>IPA</td>
    <td><ol>
      <li>Matematika</li>
      <li>Fisika</li>
      <li>Kimia</li>
      </ol></td>
  </tr>
  <tr>
    <td>IPS</td>
    <td><ol>
      <li>Sejarah</li>
      <li>Geografi</li>
      <li>Ekonomi</li>
      </ol></td>
  </tr>
</table>
<router-outlet></router-outlet>
